@font-face {
  font-family: Konstant Gratesc;
  src: url(/rsschool-cv/fonts/KonstantGroteskBook.woff2) format('woff2');
}

@font-face {
  font-family: Inter;
  src: url(/rsschool-cv/fonts/Inter-Regular.woff2);
}

@font-face {
  font-family: Inter;
  src: url(/rsschool-cv/fonts/Inter-Medium.woff2);
}

/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
  color: #101010;
  text-decoration: none;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill='none'], [fill^='url'])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke='none'], [stroke^='url'])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Global styles */

body {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
  font-family: 'Inter';
  color: #101010;
}

.container {
  max-width: 1024px;
  padding-inline: 24px;
}

h1,
.h1 {
  font-family: 'Konstant Gratesc';
  font-size: 2.75rem;
  line-height: 0.8;
  color: #000;
}

h2,
.h2 {
  font-family: 'Konstant Gratesc';
  font-size: 1.125rem;
  font-weight: 500;
}

h3,
.h3 {
  font-size: 1.125rem;
  font-weight: 600;
}

h4,
.h4 {
  font-size: 1rem;
  font-weight: 500;
}

.date {
  font-size: 0.875rem;
}

p {
  font-size: 1rem;
}

/* Отступ сверху при скролле к якорю */

[id] {
  scroll-margin-top: 48px;
}

/* Header */

.header {
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2.5px);
  z-index: 1;
}

.header__menu-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.header__menu-link {
  font-family: 'Konstant Gratesc';
  color: #101010;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 15px;
  transition: filter 0.2s ease, color 0.2s ease;
}

.header__menu-list:has(.header__menu-link:hover) .header__menu-link {
  filter: blur(2.5px);
}

.header__menu-list:has(.header__menu-link:hover) .header__menu-link:hover {
  filter: none;
}

.header__menu-link:active {
  color: #ffb800;
}

/* Footer */

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b1b1b;
  color: #f8f8f8;
}

.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  padding: 10px;
  color: #f8f8f8;
  text-decoration: none;
  transition: color 0.2s ease;
}

.footer__link:hover {
  color: #ffb800;
}

.github-link::before {
  content: '';
  display: inline-block;
  width: 36px;
  height: 36px;
  background-image: url(/rsschool-cv/images/github-logo.svg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 0.2s ease;
}

.github-link:hover::before {
  background-image: url(/rsschool-cv/images/github-logo-hover.svg);
}

.rsschool-link::before {
  content: '';
  display: inline-block;
  width: 56px;
  height: 20px;
  background-image: url(/rsschool-cv/images/rs-school-logo.svg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 0.2s ease;
}

.rsschool-link:hover::before {
  background-image: url(/rsschool-cv/images/rs-school-logo-hover.svg);
}

/* Section */

.section__body {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 30px;
}

.section__image {
  border-radius: 50%;
}

/* About */

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

/* .about:has(.grid-columns__sidebar) .about {
  gap: 0;
} */

.cv-chapter__item {
  display: grid;
  row-gap: 20px;
  text-transform: uppercase;
}

.cv-chapter__title-inner {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}

.content__list {
  display: grid;
  row-gap: 10px;
}

.content__link {
  transition: color 0.2s ease;
}

.content__link:hover {
  color: #ffb800;
}

.content__description {
  text-transform: initial;
}

.content__code-example {
  text-transform: initial;
}

.content__item {
  display: grid;
  row-gap: 5px;
}

/* About grid__columns */

.grid-columns {
  position: relative;
  display: grid;
  grid-template-areas: 'sidebar header' 'sidebar main';
  grid-template-columns: 1fr 2fr;
  column-gap: 30px;
  overflow: hidden;
}

.grid-columns__header {
  grid-area: header;
  padding-block: 50px 60px;
}

.grid-columns__sidebar {
  grid-area: sidebar;
  grid-template-columns: 1fr;
  padding-block: 50px;
  gap: 0;
}

.grid-columns__main {
  grid-area: main;
  padding-bottom: 60px;
}

/* BG */

.background-sun {
  position: absolute;
  top: 25%;
  left: 0;
  transform: translate(-45%);
  width: 800px;
  height: 800px;
  background: radial-gradient(circle, #ffb800 10%, transparent 70%);
  z-index: -2;
  pointer-events: none;
}

body::after {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url(/rsschool-cv/images/grain.png);
  opacity: 0.2;
  pointer-events: none;
  z-index: -2;
}

/* Mixin Visually Hidden */

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}